@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

main {
  display: flex;
}

img {
  width: 210px;
}

body {
  margin: 0;
  padding: 0;
}

.flex-1 {
  margin-right: 0.5em;
  width: 50%;
}

.flex-2 {
  width: 50%;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-right,
.flex-left {
  padding: 0.5rem 3rem;
}

.title {
  font-family: "DM Sans", sans-serif;
  color: rgb(46, 97, 115);
  font-size: 3rem;
  padding: 2rem 2rem 2rem 3rem;
}

.box-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: rgb(46, 97, 115);
  font-size: 2.1rem;
}

.box-description {
  font-family: "Open Sans", sans-serif;
  color: rgb(79, 122, 137);
  padding: 0;
  padding: 0.3rem 0;
  margin: 0;
  padding-left: 0.3rem;
  font-size: 1.4rem;
}

.october {
  background: rgb(252, 245, 242);
  padding-bottom: 8rem;
  padding-top: 2rem;
  margin-top: 0.5rem;
}

.november {
  background: rgb(231, 241, 245);
  margin-top: 0.5rem;
  padding-bottom: 5rem;
}

.november img {
  width: 180px;
  padding-top: 1rem;
}

.january {
  background: rgb(223, 235, 235);
  margin-top: 0.5rem;
  padding-bottom: 5rem;
}

.january img {
  width: 180px;
}

.march {
  background: rgb(252, 245, 242);

  margin-top: 0.5rem;
  padding-bottom: 5rem;
}

.march img {
  width: 150px;
}

.may {
  background: rgb(227, 242, 242);
  margin-top: 0.5rem;
  padding-bottom: 5rem;
}

.may img {
  width: 150px;
}

.september {
  background: rgb(227, 242, 242);
  margin-top: 0.5rem;
  padding-bottom: 3.5rem;
}

.september img {
  width: 180px;
}

.december {
  background: rgb(231, 241, 245);
  margin-top: 0.5rem;
  padding-bottom: 7.5rem;
}

.december img {
  width: 160px;
}

.february {
  padding-bottom: 3.5rem;
  margin-top: 0.5rem;
  background: rgb(231, 241, 245);
}

.april {
  background: rgb(231, 241, 245);
  margin-top: 0.5rem;
  padding-bottom: 4rem;
}

.april img {
  padding-top: 1rem;
}

.june {
  white-space: nowrap;
  background: rgb(252, 245, 242);
  padding-bottom: 6rem;
  margin-top: 0.5rem;
}

.june img {
  width: 180px;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
    text-align: center;
  }

  .flex-1,
  .flex-2 {
    width: 100%;
  }

  .month {
    flex-direction: column;
  }
  main {
    flex-direction: column;
  }

  img {
    padding-top: 1em;
  }

  .title {
    font-size: 2.5em;
  }

  .box-description {
    font-size: 1em;
    white-space: nowrap;
  }

  .box-title {
    font-size: 2em;
  }

  .flex-1 {
    margin: 0;
  }

  .flex-right,
  .flex-left {
    padding: 0.5em 2em;
  }

  .month img {
    width: 160px;
  }

  .flex-left {
    padding-bottom: 0;
  }
}
